## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [ ]:
import pandas as pd
from pathlib import Path

In [2]:
print(Path.cwd())
pasta_datasets = Path(Path.cwd() / 'Datasets\\analise-precos-gasolina\\')

print(pasta_datasets)

d:\Cursos\Python\Python - Asimov Academy\Projetos\Analisando Dados com Pandas & SQL
d:\Cursos\Python\Python - Asimov Academy\Projetos\Analisando Dados com Pandas & SQL\Datasets\analise-precos-gasolina

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [3]:
df1 = pd.read_csv(pasta_datasets/ 'gasolina_2000+.csv', sep=',', decimal=',', index_col=0)
df1

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.35,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.0969999999999999,1.18,1.76,0.419,0.07,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.07,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.4,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.28,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.07,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.0579999999999999,1.7990000000000002,2.109,0.19,0.03,1.756,0.038,1.659,1.9268,0.022
52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.89,2.31,0.267,0.0289999999999999,1.785,0.039,1.677,1.9172,0.022
52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.21,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [4]:
df2 = pd.read_csv(pasta_datasets/ 'gasolina_2010+.csv', sep=',', decimal=',', index_col=0)
df2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.03,0.003,2.02,2.05,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.49,1.99,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.59,2.49,0.326,0.08,1.522,0.105,1.2833,1.7486,0.069
9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.1,0.268,0.0409999999999999,1.758,0.042,1.63,1.848,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.51,4.69,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.19,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [5]:
df = pd.concat([df1, df2])
df

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.35,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.0969999999999999,1.18,1.76,0.419,0.07,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.07,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.4,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.51,4.69,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.19,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [6]:
df.head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.35,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.0969999999999999,1.18,1.76,0.419,0.07,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.07,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.4,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  object
 8   DESVIO PADRÃO REVENDA          120823 non-null  object
 9   PREÇO MÍNIMO REVENDA           120823 non-null  object
 10  PREÇO MÁXIMO REVENDA           120823 non-null  object
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  object
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: int64(1), object(17)
memory usage: 17.5+ MB

In [8]:
df.shape

(120823, 18)

In [9]:
df.tail()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.51,4.69,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.19,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [10]:
df['DATA INICIAL'].iloc[2]

'2004-05-09'

In [11]:
df['DATA INICIAL'][2]

'2004-05-09'

In [12]:
df.iloc[2, 1] #linha 2, coluna 1

'2004-05-15'

In [13]:
type(df['DATA INICIAL'].iloc[2])

str

In [14]:
type(df['DATA INICIAL'][2])

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [15]:
df['DATA INICIAL'] = pd.to_datetime(df['DATA INICIAL'])

In [16]:
df['DATA FINAL'] = pd.to_datetime(df['DATA FINAL'])

In [17]:
df['PREÇO MÉDIO REVENDA'] = pd.to_numeric(df['PREÇO MÉDIO REVENDA'])

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [18]:
df['MES'] = df['DATA FINAL'].dt.month

In [19]:
df['ANO'] = df['DATA FINAL'].dt.year

In [20]:
df["ANO-MES"] = df["DATA FINAL"].apply(lambda x: "{}".format(x.year)) + df["DATA FINAL"].apply(lambda x: "-{:02d}".format(x.month))

In [21]:
df["ANO-MES"] = df["DATA FINAL"].apply(lambda x: f'{x.year}') + df["DATA FINAL"].apply(lambda x: f'-{x.month:02d}')

In [22]:
df["ANO-MES"]

0         2004-05
1         2004-05
2         2004-05
3         2004-05
4         2004-05
           ...
120818    2021-05
120819    2021-05
120820    2021-05
120821    2021-05
120822    2021-05
Name: ANO-MES, Length: 120823, dtype: object

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [23]:
df.columns

Index(['DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO', 'MES',
       'ANO', 'ANO-MES'],
      dtype='object')

In [24]:
(df['PRODUTO']).value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [25]:
df_gcomum = df[df['PRODUTO'] == 'GASOLINA COMUM']

df_gcomum.head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MES,ANO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.0069999999999999,1.99,...,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,5,2004,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,...,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,5,2004,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.0,...,0.472,0.0279999999999999,1.886,0.068,1.75,2.0713,0.036,5,2004,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.97,...,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,5,2004,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.0,...,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,5,2004,2004-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [26]:
df_gcomum[df_gcomum['ANO-MES'] == '2008-08']['PREÇO MÉDIO REVENDA'].mean()

np.float64(2.6012444444444442)

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [27]:
df_gcomum[(df_gcomum['ANO-MES'] == '2014-05') & (df_gcomum['ESTADO'] == 'SAO PAULO')]['PREÇO MÉDIO REVENDA'].mean()

np.float64(2.8822)

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [28]:
df_gcomum[df_gcomum["PREÇO MÉDIO REVENDA"] > 5][["ESTADO", "ANO-MES", "PREÇO MÉDIO REVENDA"]].head(5)

               ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
98201            ACRE  2018-05                5.053
98347            ACRE  2018-06                5.035
98493            ACRE  2018-06                5.038
98511  RIO DE JANEIRO  2018-06                5.016
98646            ACRE  2018-06                5.031

In [29]:
df_estados = df_gcomum.sort_values(by=['DATA INICIAL', 'PREÇO MÉDIO REVENDA'], 
                      axis=0, 
                      ascending=[True, True])[(df_gcomum['PREÇO MÉDIO REVENDA'] > 5)]

df_estados[['ESTADO', 'ANO-MES', 'PREÇO MÉDIO REVENDA']]

C:\Users\Robson\AppData\Local\Temp\ipykernel_26148\3125011118.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_estados = df_gcomum.sort_values(by=['DATA INICIAL', 'PREÇO MÉDIO REVENDA'],

                   ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
98201                ACRE  2018-05                5.053
98347                ACRE  2018-06                5.035
98511      RIO DE JANEIRO  2018-06                5.016
98493                ACRE  2018-06                5.038
98646                ACRE  2018-06                5.031
...                   ...      ...                  ...
120725          TOCANTINS  2021-05                5.751
120719  RIO GRANDE DO SUL  2021-05                5.781
120711       MINAS GERAIS  2021-05                5.798
120717     RIO DE JANEIRO  2021-05                6.099
120699               ACRE  2021-05                6.258

[353 rows x 3 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [30]:
df_gcomum[(df_gcomum['REGIÃO'] == 'SUL') & (df_gcomum['ANO'] == 2012)].groupby(['REGIÃO', 'ESTADO']).agg({'PREÇO MÉDIO REVENDA': 'mean'})

                          PREÇO MÉDIO REVENDA
REGIÃO ESTADO
SUL    PARANA                        2.684731
       RIO GRANDE DO SUL             2.759308
       SANTA CATARINA                2.720288

In [31]:
df_gcomum[(df_gcomum['REGIÃO'] == 'SUL') & (df_gcomum['ANO'] == 2012)]['PREÇO MÉDIO REVENDA'].mean()

np.float64(2.7214423076923073)

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [32]:
df_rio = df_gcomum[df_gcomum['ESTADO'] ==  'RIO DE JANEIRO']
df_month_rio = df_rio.groupby('ANO-MES')[['PREÇO MÉDIO REVENDA', 'MES']].last()
df_month_rio

         PREÇO MÉDIO REVENDA  MES
ANO-MES
2004-05                2.042    5
2004-06                2.152    6
2004-07                2.157    7
2004-08                2.178    8
2004-09                2.181    9
...                      ...  ...
2021-01                5.091    1
2021-02                5.558    2
2021-03                6.131    3
2021-04                6.071    4
2021-05                6.099    5

[204 rows x 2 columns]

In [33]:
df_month_rio[df_month_rio['MES'] == 12]

         PREÇO MÉDIO REVENDA  MES
ANO-MES
2004-12                2.296   12
2005-12                2.508   12
2006-12                2.531   12
2007-12                2.540   12
2008-12                2.565   12
2009-12                2.607   12
2010-12                2.660   12
2011-12                2.849   12
2012-12                2.877   12
2013-12                3.072   12
2014-12                3.206   12
2015-12                3.862   12
2016-12                4.002   12
2017-12                4.548   12
2018-12                4.812   12
2019-12                4.995   12
2020-12                4.929   12

In [34]:
(df_month_rio[df_month_rio['MES'] == 12] / df_month_rio[df_month_rio['MES'] == 12].shift(1) - 1) * 100

         PREÇO MÉDIO REVENDA  MES
ANO-MES
2004-12                  NaN  NaN
2005-12             9.233449  0.0
2006-12             0.917065  0.0
2007-12             0.355591  0.0
2008-12             0.984252  0.0
2009-12             1.637427  0.0
2010-12             2.032988  0.0
2011-12             7.105263  0.0
2012-12             0.982801  0.0
2013-12             6.777894  0.0
2014-12             4.361979  0.0
2015-12            20.461634  0.0
2016-12             3.625065  0.0
2017-12            13.643178  0.0
2018-12             5.804749  0.0
2019-12             3.802993  0.0
2020-12            -1.321321  0.0

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [35]:
df_gcomum

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MES,ANO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.0069999999999999,1.99,...,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,5,2004,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,...,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,5,2004,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.0,...,0.472,0.0279999999999999,1.886,0.068,1.75,2.0713,0.036,5,2004,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.97,...,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,5,2004,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.0,...,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,5,2004,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.31,...,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5,2021,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.64,...,-99999.0,0.05,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5,2021,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,...,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5,2021,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.41,...,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5,2021,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.16,5.578,...,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5,2021,2021-05

In [36]:
df_max = df_gcomum.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].max()
df_max

ANO-MES
2004-05    2.438
2004-06    2.496
2004-07    2.545
2004-08    2.560
2004-09    2.570
           ...
2021-01    5.213
2021-02    5.809
2021-03    6.688
2021-04    6.227
2021-05    6.258
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: float64

In [37]:
idx_min = df_gcomum.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].idxmin()
idx_min

ANO-MES
2004-05     12114
2004-06     12168
2004-07     12334
2004-08     12411
2004-09     12600
            ...
2021-01    117685
2021-02    118739
2021-03    119271
2021-04    120344
2021-05    120701
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: int64

In [38]:
idx_max = df_gcomum.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].idxmax()
idx_max

ANO-MES
2004-05     12104
2004-06     12228
2004-07     12374
2004-08     12471
2004-09     12590
            ...
2021-01    118208
2021-02    119092
2021-03    119629
2021-04    120163
2021-05    120699
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: int64

In [39]:
df_min = df_gcomum.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].min()
df_min

ANO-MES
2004-05    1.888
2004-06    1.912
2004-07    1.936
2004-08    2.030
2004-09    2.031
           ...
2021-01    3.830
2021-02    4.121
2021-03    4.579
2021-04    4.777
2021-05    4.867
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: float64

In [40]:
df_diff = pd.DataFrame()

In [41]:
df_diff

Empty DataFrame
Columns: []
Index: []

In [42]:
df_diff['max_value'] = df_max
df_diff['min_value'] = df_min
df_diff['abs_diff'] = df_max - df_min
df_diff['percent_diff'] = (df_max - df_min) / df_min * 100
df_diff

         max_value  min_value  abs_diff  percent_diff
ANO-MES
2004-05      2.438      1.888     0.550     29.131356
2004-06      2.496      1.912     0.584     30.543933
2004-07      2.545      1.936     0.609     31.456612
2004-08      2.560      2.030     0.530     26.108374
2004-09      2.570      2.031     0.539     26.538651
...            ...        ...       ...           ...
2021-01      5.213      3.830     1.383     36.109661
2021-02      5.809      4.121     1.688     40.960932
2021-03      6.688      4.579     2.109     46.058091
2021-04      6.227      4.777     1.450     30.353779
2021-05      6.258      4.867     1.391     28.580234

[204 rows x 4 columns]

In [43]:
df_gcomum.loc[idx_max][['ESTADO', 'PREÇO MÉDIO REVENDA', 'ANO-MES']]

             ESTADO  PREÇO MÉDIO REVENDA  ANO-MES
12104          ACRE                2.438  2004-05
12228   MATO GROSSO                2.496  2004-06
12374          ACRE                2.545  2004-07
12471   MATO GROSSO                2.560  2004-08
12590          ACRE                2.570  2004-09
...             ...                  ...      ...
118208         ACRE                5.213  2021-01
119092         ACRE                5.809  2021-02
119629         ACRE                6.688  2021-03
120163         ACRE                6.227  2021-04
120699         ACRE                6.258  2021-05

[204 rows x 3 columns]

In [44]:
df_gcomum.loc[idx_max]['ESTADO'].values

array(['ACRE', 'MATO GROSSO', 'ACRE', 'MATO GROSSO', 'ACRE',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'ACRE', 'ACRE',
       'RORAIMA', 'RORAIMA', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'MATO GROSSO', 'MATO GROSSO', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'MATO GROSSO', 'MATO GROSSO', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'RIO DE JANEIRO', 'ACRE', 'ACRE', 'ACRE', 'RIO DE JANEIRO',
       'RIO DE JANEIRO', 'RIO DE JANEIRO', 'RIO DE JANEIRO',
       'RIO DE JANEIRO', 'RIO DE JANEIRO', 'RIO DE JANEIRO',
       'RIO DE JANEIRO', 'RIO DE JANEIRO', 'RIO DE JANEIRO', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE'], dtype=object)

In [45]:
df_diff['ESTADO MAX'] = df_gcomum.loc[idx_max]['ESTADO'].values
df_diff['ESTADO MIN'] = df_gcomum.loc[idx_min]['ESTADO'].values
df_diff

,max_value,min_value,abs_diff,percent_diff,ESTADO MAX,ESTADO MIN
ANO-MES,,,,,,
2004-05,2.438,1.888,0.550,29.131356,ACRE,SAO PAULO
2004-06,2.496,1.912,0.584,30.543933,MATO GROSSO,SAO PAULO
2004-07,2.545,1.936,0.609,31.456612,ACRE,DISTRITO FEDERAL
2004-08,2.560,2.030,0.530,26.108374,MATO GROSSO,SAO PAULO
2004-09,2.570,2.031,0.539,26.538651,ACRE,SAO PAULO
...,...,...,...,...,...,...
2021-01,5.213,3.830,1.383,36.109661,ACRE,AMAPA
2021-02,5.809,4.121,1.688,40.960932,ACRE,AMAPA
2021-03,6.688,4.579,2.109,46.058091,ACRE,AMAPA
2021-04,6.227,4.777,1.450,30.353779,ACRE,AMAPA
2021-05,6.258,4.867,1.391,28.580234,ACRE,AMAPA

In [46]:
df_diff['ESTADO MIN'].value_counts()

ESTADO MIN
SAO PAULO              40
AMAPA                  38
PIAUI                  28
PARAIBA                28
PARANA                 14
AMAZONAS               14
DISTRITO FEDERAL       12
MARANHAO                9
SANTA CATARINA          6
PERNAMBUCO              4
MATO GROSSO DO SUL      3
RIO GRANDE DO NORTE     2
GOIAS                   2
BAHIA                   2
CEARA                   2
Name: count, dtype: int64

In [47]:
df_diff['ESTADO MAX'].value_counts()

ESTADO MAX
ACRE              166
MATO GROSSO        25
RIO DE JANEIRO     11
RORAIMA             2
Name: count, dtype: int64